@import url('https://fonts.googleapis.com/css?family=Chivo|Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.inter{
    min-height: 100vh;
    background-color:#5D737E;
    font-family: 'Courgette', cursive;
    font-size:20px;
    border-radius: 30px;
}

.text-light{
    padding:20px;
    font-size: 20px;
}
.navbar{
    background-color: black;
    padding:20px;
    margin-top:5px;
}

.new{
    font-family: 'Courgette', cursive;
    color:black;
    font-size:25px;
    margin:50px;
    text-align: center;
    box-shadow: black 1px 1px;
 }
