@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Chivo|Merienda+One&display=swap');
*{
    background-color: #D7D6E6;
}
.card-img-top {

    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card{
    border: none;
}


h1{
    font-family: 'Alfa Slab One', cursive;
}

.text-light{
    padding:15px;
    font-size: 20px;

}

.sub{
    margin-bottom:20px;
    text-align: center;
    margin-right:80px;
}


p{
    font-size:20px;
    text-align:center;
}

.container{
    background-color:#80A1D4;
    min-height:80vh;
}

button{
    left:500px;
}