{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- styles block -->

{% block styles%}
        
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}
<section id="index">
       
            <div class="container">
                <div class="row">
                        <div class="col-md-d  w-75 my-auto text-center text-light head ">
                                <h3>Feel free to look at other people pitches and leave a comment. Also you can sign in and table your pitch</h3>
                        </div>
                </div>
                
            </div>

</section>


{% endblock%}
